@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Rubik";
  background-color: #ffe4e1;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

.links {
  text-align: center;
}

.container-box {
  background-color: #fff0f5;
  padding: 2rem;
  padding-top: 1.2rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 40%;
}

.container-box h1 {
  color: #ff69b4;
  font-size: 45px;
  margin-bottom: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  flex: 0 0 40%;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ffb6c1;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

input[type="radio"] {
  flex: unset;
  width: unset;
  margin-right: 10px;
}

input:focus {
  outline: none;
  border-color: #ff69b4;
  box-shadow: 0 0 8px rgba(255, 105, 180, 0.2);
}

button {
  padding: 12px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

button:hover {
  background-color: #ff1493;
}

a {
  color: #ff69b4;
  text-decoration: none;
  font-size: 14px;
  margin-top: 1rem;
}

a:hover {
  text-decoration: underline;
}

#validator {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

span {
  color: red;
}

#unameEmail {
  font-style: italic;
  margin-bottom: 5px;
}

#required-label {
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 600px) {
  .container-box {
    padding: 1.5rem;
    width: 90%;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  input {
    width: 100%;
    margin-top: 10px;
  }

  input[type="radio"] {
    margin-top: 0;
  }

  h1 {
    font-size: 40px;
  }

  label {
    flex: unset;
    width: 100%;
  }
}